.sidebarWrapper{ 
	z-index: 1;
	position: relative;
	color: white;
	left: 0;
	height: 100vh;
	max-width: 300px;
	min-width: 200px;
	width: 100%;
	padding: 80px 0px 20px 20px;
}
.sidebarContainer{
	padding: 0px 20px 0px 0px;
	height: 100%;
	overflow-y: auto;
}
.sidebarContainerContainer{
	height: 100%;
	padding:20px 20px 80px 20px;
	border-radius: 10px;
	background-color: #0c152b;
}
.sidebarContainerContainer h2{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.fileContainer{
	padding: 15px;
	font-size: 1rem;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	overflow: hidden;
	gap: 10px;
}
.fileContainer:hover{
	background-color: #294481;
}
.selectContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #19274e;
	border-radius: 10px; 
	padding: 10px;
	margin-top: -60px; 
}
.selectContainer div{
	display: flex;
	flex-direction: row;
}
.selectContainer select{
	cursor: pointer;
	min-width: 20px;
	width: 100%;
	padding: 0px 10px 0px 10px;
	border: none; 
	color: white;
	background-color: #19274e;
	font-size: 1.1rem;
}
.selectContainer select:focus{
	outline: none;
}
.selectContainer button{
	transition: .1s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	background-color: #3b3b3b;
	color: #ffffff;
	border:none;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
}
.selectContainer button:hover{
	background-color: #40BFF8;
	color: white; 
}