.hamburger{
	background-color: transparent;
	color: white;
	border:none;
	cursor: pointer;
	position: fixed;
	top: 10px;
	left: 10px;
}
.sidebarWrapper{
	position:sticky;
	margin-top: 80px;
	color: white;
	left: 0;
	height: 85vh;
	max-width: 350px;
	width: 100%;
	background-color: #020014;
	padding: 0px 0px 20px 20px;
}
.sidebarContainer{
	padding: 0px 20px 0px 0px;
	height: 70vh;
	overflow-y: auto;
}
.sidebarContainerContainer{
	padding:20px;
	border-radius: 10px;
	background-color: #0c152b;
}
.folderContainer{
	padding: 15px;
	font-size: 1.1rem;
	border-radius: 10px;
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 10px;
	overflow: hidden;
	gap: 10px;
}
.folderContainer:hover{
	background-color: #294481;
}

.addFolderContainer{
	margin: 30px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #19274e;
	border-radius: 10px;
	padding: 5px 0px 5px 0px;
}
.addFolderContainer input{
	border: none;
	padding: 10px;
	color: white;
	background-color: #19274e;
	font-size: 1.1rem;
}
.addFolderContainer input:focus{
	outline:none;
	border: none;
}
.addFolderContainer button{
	border: none;
	padding: 10px;
	background-color: #19274e;
	color: white;
	font-size: 1.1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}