.sidebarWrapper{ 
	z-index: 1;
	position: relative;
	color: white;
	left: 0;
	height: 100vh;
	max-width: 300px;
	min-width: 300px;
	width: 100%;
	padding: 80px 0px 20px 20px;
}
.sidebarContainer{
	height: 100%;
	border-radius: 10px;
	background-color: #0c152b;
	display: flex;
	flex-direction: column;
}


/* FOR THE FOLDER OPTIONS */
.optionWrapper{
	height: 100%;
	position: relative;
	margin: 0px 20px 20px 20px;
}
.optionTitle{
	padding: 15px;
	margin: 20px 20px 0px 20px;
	background-color:#19274e;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}
.optionTitle:hover{
	background-color: #294481;
}
.optionTitle span{
	overflow:hidden;
}
.optionContainer{
	position: absolute;
	top:0;
	max-width: 240px;
	min-width: 240px;
	padding: 15px;
	height: 100%;
	overflow-y: auto;
	background-color:#19274e;
	border-radius: 10px;
}
.folderContainer{
	padding: 15px;
	font-size: 1rem;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	overflow: hidden;
	gap: 10px;
	cursor: pointer;
}
.folderContainer:hover{
	background-color: #294481;
}
.folderContainer span{
	overflow: hidden;
}

.addFolderContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #294481;
	border-radius: 10px; 
	padding: 15px;
	margin-bottom: 10px;
}
.addFolderContainer input{
	border: none;
	color: white;
	background-color: #294481;
	font-size: 1.1rem;
	min-width: 30px;
}
.addFolderContainer input:focus{
	outline:none;
	border: none;
}
.addFolderContainer button{
	border: none;
	background-color: #294481;
	color: white;
	font-size: 1.1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* FOR THE FILES SIDEBAR */
.fileWrapper{
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0px 20px 20px 20px;
	width: 100%;
}
.selectContainer{
	justify-content: center;
	align-items: center;
	background-color: #19274e;
	border-radius: 10px; 
	padding: 10px;
	margin-bottom: 10px;
}
.selectContainer select{
	cursor: pointer;
	min-width: 20px;
	width: 100%;
	padding: 0px 10px 0px 10px;
	margin-right: 10px;
	border: none; 
	color: white;
	background-color: #19274e;
	font-size: 1.1rem;
}
.selectContainer select:focus{
	outline: none;
}
.selectContainer button{
	transition: .1s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3b3b3b;
	color: #ffffff;
	border:none;
	padding: 5px 5px 5px 7px;
	border-radius: 10px;
	cursor: pointer;
}
