.fileComponentWrapper{
	z-index: 0;
	right: 0;
	height: 100vh;  
	width: 100%;
	padding: 80px 20px 20px 20px;
	display: flex;
	justify-content: center;
}
.flashcardContentWrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	height: 100%;
	width: 100%; 
	border-radius: 10px;
	min-width: 230px;
	margin-bottom: 20px;
}
.carouselWrapper{
	position: relative;
	height: 100%;
	max-width: 1000px;
	width: 100%;
	overflow: hidden;
	margin: 20px 0px;
}
.flashcardWrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flashcardContainer{
	max-width: 400px;
	max-height: 500px;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.flashcardTerm{
	z-index: 1;
	background-color: #40BFF8;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	user-select: none;
}
.flashcardDescription{
	background-color: #3399c9;
	color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 20px 20px 10% 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	user-select: none;
}
.moveControls{
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}
.moveControls button{
	background-color: #3399c9;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.moveControls button:hover{
	background-color: #40BFF8;
}