.flashcardContentWrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	color: white;
	height: 100%;
	width: 100%;
	background-color: #0c152b;
	border-radius: 10px;
	min-width: 230px;
}
.flashcardContentWrapper h1{
	margin-bottom: 20px;
}
.flashcardContentContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	padding: 15px;
	background-color: #19274e;
	border-radius: 10px;
	margin-bottom: 10px;
}
.flashcardContentContainer div{
	word-break: break-word;
}