.fileComponentWrapper{
	z-index: 0;
	right: 0;
	height: 100vh;  
	width: 100%;
	padding: 80px 20px 20px 20px;
}
.flashcardContentWrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	color: white;
	height: 100%;
	width: 100%;
	background-color: #0c152b;
	border-radius: 10px;
	min-width: 230px;
	max-width: 800px;
	margin-bottom: 20px;
}
.flashcardContentWrapper h1{
	margin-bottom: 20px;
}
.flashcardGrid{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
.flashcardContentContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	padding: 15px;
	background-color: #19274e;
	border-radius: 10px;
	margin-bottom: 10px;
}
.flashcardContentContainer div{
	word-break: break-word;
}
@media only screen and (max-width: 700px) {
	.flashcardContentContainer{
		display: flex;
		flex-direction: column;
	}
}