.createFlashcardWrapper{
	display: flex;
	flex-direction: column;
	min-width: 250px;
	width: 100%;
	padding: 10px 20px 10px 0px;
	border-radius: 10px;
	margin-top: 10px;
}
.contentFlashcardWrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	word-break: break-word;
	background-color:#0c152b;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
}
.contentBar{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}
.contentBar button{
	border: none;
	outline: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}
.addbtnContainer{
	width: 100%;
	z-index: 1;
}
.addbtn{
	font-size: 1.2rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #152142;
	border: none;
	outline: none;
	color: white;
	z-index: 1;
	height: 100%;
	width: 100%;
	padding: 20px;
	gap: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.addbtn:hover{
	background-color: #40BFF8;
}
.deletebtn{
	height: 35px;
	width: 35px;
	background-color: #294481;
}
.deletebtn:hover{
	background-color: #f84040;
}
.contentFlashcardContainer{
	display: grid;
	grid-template-columns: 3fr 3fr 35px;
	gap: 15px;
	width: 100%;
	padding:15px
}
.contentFlashcardContainer p{
	font-size: .8rem;
	font-weight: bold;
	color: #c7c7c7;
	padding: 0px 0px 0px 10px;
}
.flashcardContent{
	padding: 10px;
	border-radius: 10px;
	font-size: 1rem;
	background-color: #152142;
	margin-top: 10px; 
}
.flashcardContent:focus{
	outline: none;
	border: 3px solid #40BFF8;
}
@media only screen and (max-width: 600px) {
	.contentFlashcardContainer{
		grid-template-columns: 1fr;
		gap: 15px;
		padding: 10px;
		border-radius: 6px;
	}
	.flashcardContent{
		font-size: .9rem;
		padding: 8px;
		border-radius: 6px;
	}
	.contentFlashcardContainer p{
		font-size: .6rem;
	}
	.contentBar{
		flex-direction: row;
		justify-content: center;
		border-radius: 6px;
	}
	.deletebtn{
		font-size: small;
	}
}