.createFlashcardWrapper{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-width: 250px;
	width: 100%;
	padding: 10px 20px 10px 0px;
	border-radius: 10px;
	margin-top: 10px;
}
.contentFlashcardWrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	word-break: break-word;
	background-color:#0c152b;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
}
.contentBar{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: -45px;
	z-index: 1;
}
.contentBar button{
	border: none;
	outline: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	margin:10px 15px 0px 0px;
}
.addbtn{
	height: 35px;
	width:auto;
	padding: 0px 10px 0px 10px;
	background-color: #294481;
	gap: 10px;
}
.addbtn:hover{
	background-color: #40BFF8;
}
.deletebtn{
	height: 35px;
	width:35px;
	background-color: #294481;
}
.deletebtn:hover{
	background-color: #f84040;
}
.contentFlashcardContainer{
	display: grid;
	grid-template-columns: 3fr 3.3fr;
	gap: 15px;
	width: 100%;
	padding:15px
}
.contentFlashcardContainer p{
	font-size: .8rem;
	font-weight: bold;
	color: #c7c7c7;
	padding: 15px 0px 0px 15px;
}
.contentFlashcardContainer input{
	font-size: 1.1rem;
	width: 100%;
	padding: 12px;
	background-color: #2d468d;
	border-radius: 10px;
	color: #ffffff;
	margin-top: 10px;
	outline: none;
	border:none;
}
.contentFlashcardContainer input:focus{
	outline: none;
	border: 3px solid #40BFF8;
}
.flashcardContent{
	padding: 15px;
	border-radius: 10px;
	font-size: 1.1rem;
	background-color: #152142;
	margin-top: 10px; 
}
.flashcardContent:focus{
	outline: none;
	border: 3px solid #40BFF8;
}
@media only screen and (max-width: 600px) {
	.contentFlashcardContainer{
		grid-template-columns: 1fr;
		gap: 15px;
	}
}